.services
  //display: grid
  //grid-template-columns: 1fr 2fr 2fr
  margin-bottom: 150px

.services-inner
  display: flex
  padding: 0 0 0 15px
  align-items: center

.services-wrapper
  background: #f9fafc
  display: flex
  justify-content: flex-end

.services-image
  margin-left: 100px
  a
    text-decoration: none
.overlay-content
  max-width: 457px
  padding: 280px 0 0 110px

  h3
    font-family: "SF UI Display Heavy",sans-serif
    font-size: 36px
    margin-bottom: 40px
    color: #ffffff
  p
    font-family: "SF UI Regular",sans-serif
    font-size: 16px
    line-height: 25px
    color: #ffffff

.services-text
  max-width: 460px
  h3
    font-family: "SF UI Display Semibold",sans-serif
    font-size: 40px
    color: $link-color-grey
    padding-bottom: 70px
  p
    font-family: "SF UI Regular",sans-serif
    font-size: 18px
    color: $link-color-grey
    margin-bottom: 35px

.services-slider
  margin-left: 100px

.arrows
  display: flex
  align-items: center
  a
    color: rgba(255, 255, 255, 0.69)
    text-decoration: none
    opacity: .8%
    font-size: 20px
    &:hover
      color: #ffffff