$link-color-grey: #273246
$link-color-green: #a5d58a
$btn-color: #a3d489
$big-numbers: #a8da84


header
  padding-top: 40px
.container
  max-width: 1140px
  padding: 0 15px
  margin: 0 auto

.btn
  border: none
  background: linear-gradient( 90deg, rgb(137,193,106) 0%, rgb(165,213,139) 100%)
  color: #ffffff
  padding: 15px 30px
  border-radius: 30px
  box-shadow: 0 2px 10px 1px #a3d489
  font-family: "SF UI Display Bold",sans-serif
  font-size: 16px
  cursor: pointer

  span
    background: #8ab872
    padding: 5px 6px
    border-radius: 17px
    margin-left: 12px

  &:hover
    box-shadow: 0 2px 2px 0px #488627

.heading
  font-family: "SF UI Display Semibold",sans-serif
  font-size: 40px
  color: $link-color-grey
  margin-bottom: 90px

